*{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
}
kbd > button{
	position: absolute;
	right: 0;
	bottom: 0;
	display: none;
}
.key {
	font-size: 20px;
	width: 70px;
	height: 70px;
	background: linear-gradient(to bottom, #050505 110%, #111111 100%);
	border: 1px solid #373737;
	color: #c5c5c5;
	border-radius: 7px;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-size: 18px;
	font-family: Helvetica;
	position: relative;
	transition: all .2s linear;
}
.key:hover > button{
	display: inline-block;
	cursor: pointer;
	animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
	transform: translate3d(0, 0, 0);
	backface-visibility: hidden;
	perspective: 1000px;
	}
@keyframes shake {
	10%, 90% {
	  transform: translate3d(-1px, 0, 0);
	}
	20%, 80% {
	  transform: translate3d(2px, 0, 0);
	}
	30%, 50%, 70% {
	  transform: translate3d(-4px, 0, 0);
	}
	40%, 60% {
	  transform: translate3d(4px, 0, 0);
	}
  }
body{
	background: #DDDEE0;  
	background:url(https://i.loli.net/2018/04/23/5adce95b9b4c0.jpg) no-repeat center center;
	background-size: cover;    /*图片大小自适应*/
}
main{
	text-align: center;
	display: flex;
	justify-content: center;  /*水平右居中*/
	align-items: center;     /* 垂直居中*/
	height: 100vh;         /*和窗口一样高*/
}
#main1{
	display: inline-block;
}
main > div > div:nth-child(2){
	margin-left: 15px;
}
main > div > div:nth-child(3){
	margin-left: 15px;
}
.row{
	margin: 20px;
/* 	padding:  */

}
.row .key{
	margin: 0 10px;
	
}
.key img{
	width: 20px;
	height: 20px;
	position: absolute;
	left: 2px;
	bottom: 1px;
}

.wrapper {
    /* background: rgba(255,255,255,0.3); */
    border-radius: 10px;
}
.edit {
	position: absolute;
	width: 20px;
	height: 20px;
	background: #F2BE42;
	border-radius: 4px;
	cursor: pointer;
	color: #fff;
	border:none;
	top:0px;
	left: 50px;
}
.text{
	font-family: Georgia;
	font-weight: 600;
	font-size: 24px;
}